body{
    background: hsl(212, 45%, 89%);
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
}
body p{
    font-size: 12px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
span{
    color: red;
    font-weight: bolder;
}
.qr-img{
    border: 1px solid white ;
    border-radius: 10px;
    width: 180px;
}
.qr-code{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 130px auto;
    width: 185px;
    background: whitesmoke;
    padding: 5.5px;
    border: none;
    border-radius: 10px;

}